<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Secciones</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
      }
      .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
      }
      table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
      }
      table,
      th,
      td {
        border: 1px solid #ddd;
      }
      th,
      td {
        padding: 10px;
        text-align: left;
      }
      th {
        background-color: #4caf50;
        color: white;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      h1 {
        color: #333;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Lista de Secciones</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Nombre Materia</th>
            <th>Nombre Profesor</th>
          </tr>
        </thead>
        <tbody>
          <% secciones.forEach(function(seccion) { %>
          <tr>
            <td><%= seccion.ID %></td>
            <td><%= seccion.Nombre %></td>
            <td><%= seccion.NombreMateria %></td>
            <td><%= seccion.NombreProfesor %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
