<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Trimestres</title>
    <link rel="stylesheet" href="/css/estilos.css" />
  </head>
  <body>
    <h1>Trimestres</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Fecha de Inicio</th>
          <th>Fecha de Fin</th>
        </tr>
      </thead>
      <tbody>
        <% trimestres.forEach(trimestre => { %>
        <tr>
          <td><%= trimestre.trimestre_id %></td>
          <td><%= trimestre.nombre %></td>
          <td><%= trimestre.fecha_inicio %></td>
          <td><%= trimestre.fecha_fin %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
